<div class="mb-3">
  <label class="form-label">Add options</label>
  <input type="text" class="form-control" (keyup)="addDropdownOptions($event)">

  <ng-container>
    <ul class="list-group mt-3">
      <ng-container *ngFor="let option of dropdownOptions; let i = index">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{option}}
          <span class="badge bg-primary rounded-pill cursor-pointer">
            <button type="button" class="btn-close btn-close-white cursor-pointer" aria-label="Close" (click)="removeOption(i)"></button>
          </span>
        </li>
      </ng-container>
    </ul>
  </ng-container>

</div>
