<div class="container">
  <single-line-control></single-line-control>
<!-- Banner offer -->
<ng-container >
  <h6>Banner offer</h6>
  <p>Upload Banner</p>
  <input #fileInput type="file" (change)="onFileSelected($event)" />
  @if (bannerForm) {
<form [formGroup]="bannerForm" (ngSubmit)="onSubmitBannerForm()">
    <label>OfferName:
      <input formControlName="OfferName" />
    </label>
    <label>RouteURL:
      <input formControlName="RouteURL" />
    </label>
    <button type="submit" [disabled]="bannerForm.invalid">Submit</button>
  </form>
}
</ng-container>

<ng-container>
  <h6 class="mt-5">Categories</h6>
</ng-container>



</div>

