<div class="p-2">
  @if (frameworkForm) {
<form [formGroup]="frameworkForm" (ngSubmit)="onSubmitFrameworkForm()">
    <div class="d-flex justify-content-end">
    <button mat-flat-button class="me-2" color="warn" (click)="closeFrameworkForm()">
      <mat-icon>close</mat-icon> Close
    </button>
    <button mat-flat-button  type="submit">
      <mat-icon>save</mat-icon> Save
    </button>
  </div>

  <form-render-control [frameworkForm]="frameworkForm" [fieldDefination]="fieldDefination"></form-render-control>
  </form>
}
  </div>
