<div class="row mt-3">
  <div class="col-md-12">
    <div class="d-flex justify-content-end">
    <button mat-flat-button class="me-2" type="submit" (click)="submitField()">
      <mat-icon>save</mat-icon> Save
    </button>
  </div>
  </div>
</div>
<div class="row mt-3">

  <!-- Left: Field List (Draggable Items) -->
  <div class="col-md-2">
    <div
    cdkDropList
    [cdkDropListData]="fieldList"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
    #todoList="cdkDropList"
    [cdkDropListConnectedTo]="[doneList]"
    >

      <div
        *ngFor="let field of fieldList"
        cdkDrag
        class="example-box">
        <mat-card appearance="outlined" class="w-100 mb-2">
          <div class="field-wrapper d-flex align-items-center">
            <mat-icon class="field-icon">{{ field.icon }}</mat-icon>
            <span class="field-label ms-2">{{ field.Name }}</span>
          </div>
        </mat-card>
      </div>
    </div>
  </div>

  <!-- Center: Dropped Form Builder -->
  <div class="col-md-7">
    <div
      class="example-container"
      cdkDropList
      [cdkDropListData]="fieldDefinationList"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListConnectedTo]="[todoList]"
      #doneList="cdkDropList"
      >

      <ng-container *ngIf="fieldDefinationList?.length > 0; else noFields">
        <form-render-control
          [frameworkForm]="frameworkForm"
          [fieldDefination]="fieldDefinationList" [isFieldDefinationCreate]="true">
        </form-render-control>
      </ng-container>

      <ng-template #noFields>
        <div class="text-muted p-3 text-center">No fields added yet.</div>
      </ng-template>

    </div>
  </div>

  <!-- Right: Placeholder -->
  <div class="col-md-3">
    <p>
      Drag fields from the left into the center to build your form. This section can contain help
      info, field options, or preview.
    </p>
  </div>

</div>

<!-- <div class="container">
  <div class="mb-3">
    <label class="form-label">Form Control Name</label>
    <input type="text" class="form-control" [(ngModel)]="fieldName">
  </div>
  <div class="mb-3">
    <label class="form-label">Form Field Type</label>
    <select class="form-select" [(ngModel)]="fieldType" name="fieldType">
      <ng-container *ngFor="let fieldType of fieldTypList">
        <option value="{{fieldType}}">{{fieldType}}</option>
      </ng-container>
    </select>
  </div>
  <div class="d-flex justify-content-end">
    <button mat-flat-button class="me-2" color="warn" (click)="resetControls()">
      <mat-icon>close</mat-icon> Clear
    </button>
    <button mat-flat-button class="me-2" type="submit" (click)="submitField()">
      <mat-icon>save</mat-icon> Save
    </button>
    <button mat-flat-button type="submit" (click)="addField()">
      <mat-icon>add</mat-icon> Add
    </button>
  </div>
  <div class="mt-4">
    Field Json Fields
    <ng-container *ngIf="fieldDefinationList&&fieldDefinationList.length>0">
      <mat-card appearance="outlined" *ngFor="let fieldDefination of fieldDefinationList; index as i">
        <div class="d-flex justify-content-between mb-3">
        <mat-card-content>{{fieldDefination|json}}</mat-card-content>
        <button mat-fab aria-label="Example icon button with a delete icon" (click)="deleteJson(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      </mat-card>
    </ng-container>
  </div>
</div> -->
