<mat-toolbar>
  <img src="https://static.vecteezy.com/system/resources/previews/021/674/236/original/fbs-letter-logo-design-in-illustration-logo-calligraphy-designs-for-logo-poster-invitation-etc-vector.jpg" alt="Logo" width="80" height="80">
  <span>Code Innovator</span>
  <span class="example-spacer"></span>
  <div class="avatar-circle">
    <!-- <img
      src="https://img.freepik.com/premium-photo/happy-man-ai-generated-portrait-user-profile_1119669-1.jpg?w=2000"
      alt="avatar"
      class="avatar-img"
    /> -->
    <span>{{userInitial}}</span>
  </div>
</mat-toolbar>
