<div class="container mt-2">
  <h6>Record List</h6>
  <div>
    <button mat-flat-button class="mat-elevation-z8 float-end mb-2" [matMenuTriggerFor]="menu">
      <mat-icon>add</mat-icon> Actions
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/repository', repositoryID, 'edit']">
        <mat-icon>add</mat-icon>
        <span>Fields</span>
      </button>
      <button mat-menu-item (click)="addRecordForm()">
        <mat-icon>add</mat-icon>
        <span>Record</span>
      </button>
    </mat-menu>
  </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="displayedColumns.length > 0">
      <ng-container *ngFor="let column of tableColumns" [matColumnDef]="column.internalName">
        <th mat-header-cell *matHeaderCellDef>{{ column.displayName }}</th>
        <td mat-cell *matCellDef="let row">{{ row[column.internalName] }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>

<gb-right-panel [isOpenSideNav]="isOpenSideNav" *ngIf="isOpenSideNav">
  <framework-form (closeFormEmitter)="closeSidePanel()" [repositoryID]="repositoryID" [businessObject]="businessObject">
  </framework-form>
</gb-right-panel>
