/* You can add global styles to this file, and also import other style files */
@import url(./app/assets/scss/_bootstrap.scss);
@import "../node_modules/bootstrap/scss/bootstrap";

html, body {
  min-height: 100vh;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.row{
  margin: 0;
}
.cursor-pointer {cursor: pointer!important;}
